@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400&600&900");

* {
   box-sizing: border-box;
   margin: 0;
}

body {
   font-family: Vazirmatn;
   background-color: #FFBA00;
   color: white;
   max-height: 100vh !important;
   max-width: 100vw !important;
   overflow: hidden !important;
}

h1 {
   text-align: center;
   margin-top: .5em;
   font-size: 3rem;
}

div.counter {
   text-align: center;
   margin-top: 1.5em;
   font-size: 3em;
   font-weight: 900;
}

div.button {
   text-align: center;
   border: 5px white solid;
   margin-top: 1.5em;
   padding: 8px;
   font-size: 1.5em;
   width: 90vw;
   margin-right: 5vw;
   border-radius: 10px;
   cursor: pointer;
}

div.button:active,
img#info:active {
   transform: scale(.9);
}

div.buttons {
   margin-top: 7.5rem;
}

img#info {
   width: 30px;
   bottom: 10px;
   position: fixed;
   left: 10px;
}

#pause {
   display: none
}